doctype
html
    head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Screens editor
    link(href="static/css/global.css" rel="stylesheet" type="text/css")
    script(src="static/js/global.js" type="text/javascript")

    body
        .container-fluid
            .row
                .jumbotron
                    h1 Списки
                    p
                        | Есть два списка, которые представляют собой части одного компонента и&nbsp;есть третий список,
                        | элементы которого могут быть добавлены к&nbsp;первым двум.
                        | Визуальное предсталение элементов каждого списка идентично.

                    p
                        a.btn.btn-primary.btn-lg(href="https://github.com/ushfnuk/screens" target="_blank" role="button") Смотреть на github-е

            .row
                .col-md-6
                    #sortable1.list-group.jsList
                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable1 item 1
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable1 item 2
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable1 item 3
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable1 item 4
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable1 item 5
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                .col-md-6
                    #sortable2.list-group.jsList
                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable2 item 1
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable2 item 2
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable2 item 3
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable2 item 4
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable2 item 5
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

            .row
                .col-md-3
                .col-md-6
                    #sortable3.list-group.jsList
                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable3 item 1
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable3 item 2
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable3 item 3
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable3 item 4
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                        a.list-group-item.jsListItem
                            h4.list-group-item-heading Sortable3 item 5
                            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sint facilis dolorum, optio assumenda distinctio tempore fugiat consequuntur reiciendis officia. Quibusdam reprehenderit temporibus fuga similique, aut laboriosam, culpa voluptas labore.

                .col-md-3
